@import url("https://fonts.googleapis.com/css2?family=Manjari&display=swap");

* {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

body {
    font-family: "Manjari", sans-serif;
}
